:root {
  --color: #ffffff;
  --s-color: #3b1c74;
  --bg-color: #1c1c1c;
  --scale: 1;
  --scale-round: 0.5;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 1140px;

  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper svg path {
  fill: none;
  stroke: var(--color);
  stroke-width: 1px;
}

svg {
  transform: scale(var(--scale));
}

svg.round {
  transform: scale(var(--scale-round));
  display: flex;
  justify-content: center;
  align-items: center;
}

.examples {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.examples svg {

  display: block;
  
}
